<div class="container">
    <div class="decoration">
        <div class="search-field">
            <input type="text" id="search">
            <button>
                <img src="/assets/icons/search.svg" alt="">
            </button>
        </div>

        <div class="local">
            <img src="/assets/icons/radio-button.svg">
            Guaraciaba do Norte, CE
        </div>

        <span class="temperature">
            36 °C
        </span>

        <div class="climate">
            <img src="https://cdn.pixabay.com/photo/2014/03/25/16/59/cloud-297786_1280.png" alt="">
            <span class="climate-desc">Nublado</span>
        </div>
    </div>
    <div class="info">
        <div class="data">
            <span class="label">
                <img src="/assets/icons/water-drop.svg">
                Chuvas
            </span>
            <span class="value">83%</span>
        </div>
        <div class="data">
            <span class="label">
                <img src="/assets/icons/air.svg">
                Ventos
            </span>
            <span class="value">5.14 km/h</span>
        </div>
    </div>
</div>
