<div class="container">
    <div class="search-field">
        <input type="text" id="search">
        <button>
            <img src="/assets/icons/search.svg" alt="">
        </button>
    </div>

    <div class="options">
        <a routerLink="/response">Tianguá, CE <img src="/assets/icons/arrow-right.svg"></a>
        <a routerLink="/response">Tianguá, CE <img src="/assets/icons/arrow-right.svg"></a>
        <a routerLink="/response">Tianguá, CE <img src="/assets/icons/arrow-right.svg"></a>
        <a routerLink="/response">Tianguá, CE <img src="/assets/icons/arrow-right.svg"></a>
        <a routerLink="/response">Tianguá, CE <img src="/assets/icons/arrow-right.svg"></a>
        <a routerLink="/response">Tianguá, CE <img src="/assets/icons/arrow-right.svg"></a>
    </div>
</div>
